.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.logo{
    display: flex;
    flex: 1;
    margin: 0 2rem 0 2rem;
}

.options{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
}